.article {
  object-fit: contain;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 10px;
  padding: 0;
  padding-left:  10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 7px 0;
  transition: 0.5s;
  user-select: none;
  cursor: pointer;
  
  &:hover {
    border-color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title { 
    width: 100%;
  }

  .description { 
    width: 100%;
  }

  .image {
    max-height: 150px; 
    width: 30%;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
  }
}

