@media (max-width: 960px) {
  body {
    max-width: 95%;
  }

  .header {
    max-width: 95%;
  }

  .article {
    flex-direction: column;

    .image {
      align-self: flex-end;
      width: 60%;
      max-height: 250px;
    }
  }
}